
@{
    ViewData["Title"] = "Inicias Sesion";
}


      
<!--<Section class = "inicioJugador">
<div>
<img src="~/imagenes/logonegro.png" alt="Sportlink">
<form action='@Url.Action("guardarInicio","session")' method= "post">
</div>
<div>
<h2>Usuario</h2>
<input type="text" name="Usuario" placeholder="Ingresar username"/>
<h2>Contraseña</h2>
<input type="password" name="Contraseña" placeholder="Ingresar Contraseña"/>
</div>
<input type="submit" value="INICIAR SESIÓN">
</form>
<h5>No tienes una cuenta, registrate aqui</h5>
<button> <a href='@Url.Action("irRegistrarJugador", "Session")'> Jugador</a></button>

</Section>

-->

<section class="inicioUser">
        <div>
          <img src="~/imagenes/logonegro.png" alt="Sportlink">
        </div>
      
        <form action='@Url.Action("guardarInicio","Session")' method="post">
          <div>
            <h2>Usuario</h2>
            <input type="text" name="Usuario" placeholder="Ingresar username"/>
            <h2>Contraseña</h2>
            <input type="password" name="Contraseña" placeholder="Ingresar Contraseña"/>
          </div>
          <input type="submit" value="INICIAR SESIÓN">
        </form>
      
        <h5>¿No tienes una cuenta?</h5>
        <button><a href='@Url.Action("irRegistrarJugador", "Session")'>Registrate aqui como jugador</a></button>
      </section>

 <footer>
  <div>
    <img src="/Imagenes/logo (3).png" alt="Sportlink">
    <p>
      Conectando el talento joven con su futuro profesional.<br>
      Damos visibilidad a tu talento y les abrimos las puertas<br>
      a nuevas oportunidades
    </p>
  </div>


  <div>
    <h3>Explorá</h3>
    <ul>
      <li><a href="Index.cshtml">Inicio</a></li>
      <li><a href="Videos.cshtml">Videos</a></li>
      <li><a href="Pruebas.cshtml">Pruebas</a></li>
    </ul>
  </div>


  <div>
    <h3>Seguinos</h3>
    <div class="redes">
      <img src="/Imagenes/insta-removebg-preview 2.png" alt="Instagram">
      <img src="/Imagenes/tw.png" alt="X">
    </div>
    <h3>Contacto</h3>
    <p>
      email: sportlink@gmail.com<br>
      teléfono: +54 0000 0000
    </p>
  </div>
</footer>
