@{
    ViewData["Title"] = "SPORTLINK";
}

 <header>
        <img src="img/logo.png" alt="Sportlink">
        <nav>
          <ul>
            <li><a href="Pruebas.cshtml">Pruebas</a></li>
            <li><a href="Videos.cshtml">Videos</a></li>
            <li><a href="Mensajes.cshtml">Mensajes</a></li>
            <li><a href="InicioSesion.cshtml"><img src="img/inicio.png"></a></li>
          </ul>
        </nav>
        
      </header>
    <section class="banner">
    <div>
    </div>
    </section>
<section class="Sect1">
<div>
<button><a href="Pruebas.html">PRUEBAS</a></button>
<article>
<p>¿Queres demostrar tu nivel?</p>
<p>Encontrá convocatorias y pruebas deportivas cerca tuyo, y mostrale tu talento a los clubes y entrenadores.</p>
</article>
</div>
</section>
<section class="pruebasIndex">
<div>
<img src="" alt="">
<article>
<p>COMUNICACIONES</p>
<p>HOCKEY</p>
</article>
</div>
<div>
<img src="" alt="">
<article>
<p>HACOAJ</p>
<p>TENIS</p>
</article>
</div>
<div>
<img src="" alt="">
<article>
<p>BOCA JUNIORS</p>
<p>FUTBOL</p>
</article>
</div>
</section>
<section class="Sect2">
<div>
<article>
<p>¿Querés inspirarte con otros deportistas?</p>
<p>Mirá los mejores clips y jugadas de jóvenes atletas como vos.</p>
</article>
<button><a href="Videos.html">Videos</a></button>
</div>
</section>
<section class="VideosIndex">
<img src="" alt="">
<img src="" alt="">
<img src="" alt="">
</section>
<section class="Sect1">
<div>
<button><a href="Mensajes.html">MENSAJES</a></button>
<article>
<p>¿Querés conectar con otros deportistas o reclutadores?</p>
<p>Chateá, hacé contactos y recibi noticias de las proximas pruebas de los equipos.</p>
</article>
</div>
</section>
  <footer>
    <div>
      <img src="img/logo.png" alt="Sportlink">
      <p>
        Conectando el talento joven con su futuro profesional.<br>
        Damos visibilidad a tu talento y les abrimos las puertas<br>
        a nuevas oportunidades
      </p>
    </div>
  
    <div>
      <h3>Explorá</h3>
      <ul>
        <li><a href="Index.cshtml">Inicio</a></li>
        <li><a href="Videos.cshtml">Videos</a></li>
        <li><a href="Pruebas.cshtml">Pruebas</a></li>
      </ul>
    </div>
  
    <div>
      <h3>Seguinos</h3>
      <div class="redes">
        <img src="img/ig.png" alt="Instagram">
        <img src="img/tw.png" alt="X">
      </div>
      <h3>Contacto</h3>
      <p>
        email: sportlink@gmail.com<br>
        teléfono: +54 0000 0000
      </p>
    </div>
  </footer>