<section>
<h1>Registrarse</h1>
<form action='@Url.Action("RegistrarseGuardar","Home")' method= "post"  enctype = "multipart/form-data">
<input type="text" name="Usuario" placeholder="Ingresar Username"/>
<input type="password" name="Password" placeholder="Ingresar Contraseña"/>
<input type="text" name="Nombre" placeholder="Ingresar Nombre"/>
<input type="text" name="Apellido" placeholder="Ingresar Apellido"/>
<input type="text" name="Telefono" placeholder="Ingresar numero de telefono"/>
<input type= "date" name="fechaNacimiento" placeholder="Ingresar  fecha de nacimiento"/>
<input type="file" name="Foto" placeholder="Ingresar foto de perfil"/>
<input type="text" name="Ubicacion" placeholder="Ingresar ubicacion"/>
<input type="text" name="Genero" placeholder="Ingresar genero"/>
<input type="submit" value="Iniciar Sesion"/>
</section>