html {
  font-size: 14px;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


@font-face {
  font-family: 'Monbloc-Inst-Heavy';
  src: url('/font/Monbloc-Inst-Heavy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

header {
  background-color: #000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1% 4%;
  border-top: 0.2% solid #00fff7;
  box-sizing: border-box;
}

header img {
  height: 2.5em;
  width: auto;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-left: 26%;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  font-family: 'Monbloc-Inst-Heavy';
  font-weight: bold;
  margin-left: 10%;
  font-size: 120%;
}

nav ul li a:hover {
  color: #3CFBDD;

}

nav ul li img {
  margin-top: 2%;
  width: auto;
  height: 7vh;

}


.banner {
  width: 100%;
  overflow: hidden;
}

.banner img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 40px; 
}

nav ul li a {
  text-decoration: none;
  color: #00e6d4;
  font-weight: bold;

}

nav ul li a:hover {
  color: white;
}


.Sect1 {
  width: 100%;
  padding: 4% 0;
}

.Sect1 div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3%;
  width: 80%;
  margin: 0 auto;
}

section button {
  background-color: #000;
  border: none;
  border-radius: 8px;
  padding: 1% 2%;
  cursor: pointer;
}

section button a {
  text-decoration: none;
  color: #00e6d4;
  font-weight: bold;
}

.Sect1 article {
  text-align: left;
  width: 50%;
}

section article p:first-child {
  font-weight: bold;
  margin-bottom: 0.3%;
}

section article p:last-child {
  font-size: 90%;
}
.Sect2 div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3%;
  width: 80%;
  margin: 0 auto;
}

.pruebasIndex {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 3%;
  padding: 4% 0;
}

.pruebasIndex div {
  width: 25%;
  background-color: #000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px black;
}

.pruebasIndex div:hover {
box-shadow: none;
}

.pruebasIndex div img {
  width: 100%;
  height: 180px;
  display: block;
}

.pruebasIndex div article {
  text-align: center;
  padding: 10px 0;
}

.pruebasIndex div article p:first-child {
  color: white;
  font-weight: bold;
  font-size: large;
  margin-bottom: 4px;
}

.pruebasIndex div article p:last-child {
  color: #00e6d4;
  font-size: medium;
  text-transform: uppercase;
}
.videosindex{
display: flex;
justify-content: center;
align-items: center;
justify-content: space-around;
}


footer {
  background-color: #000;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 2% 5%;
  font-family: Arial, sans-serif;
  
  
}

footer  div {
  width: 30%;
}

footer img {
  height: 2.8em;
  width: auto;
}

footer p {
  font-size: 85%;
  color: #ccc;
  line-height: 1.5;
}

footer h3 {
  color: #3CFBDD;
  font-weight: 500;
  margin-bottom: 6%;
  font-size: 110%;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer ul li {
  margin-bottom: 6%;
}

footer ul li a {
  text-decoration: none;
  color: #3CFBDD;
}

footer ul li a:hover {
  color: white;
}

footer div div img {
  height: 1.8em;
  margin-right: 8%;
}

footer a {
  display: block;
  margin-top: 6%;
  color: #3CFBDD;
  text-decoration: none;
}

footer a:hover {
  color: white;
}

footer div p:last-child {
  font-size: 75%;
  margin-top: 4%;
}


.dropdown-menu select {
  padding-left: 0%;
  text-align: left;
}
.dropdown-menu option {
  text-align: left;
}

.inicioJugador h1{
  text-align: center; 
  padding-top: 2%;
  font-family: 'Monbloc-Inst-Heavy';

}

.inicioJugador img{
  padding-top: 3%;
  width: 24%;
  margin-left: 38%;
  padding-bottom: 2%;
}

.inicioJugador input, h2{
  margin-left: 36%;
}

.inicioJugador h2{
  font-family: 'Monbloc-Inst-Heavy';
}

.inicioJugador div input{
  width: 27%;
  padding: 0.4%;
}

.inicioJugador input[type="submit"] {
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 1.2% 6%;
  font-weight: bold;
  cursor: pointer;
  margin-top: 2%;
}

.opcionUser h2{
  padding-top: 2%;
  text-align: center;
  font-family: 'Monbloc-Inst-Heavy';
  
  

}

.opcionUser a:hover {
  color: rgb(255, 255, 255) !important;
  background-color: #000000 !important;

}

.opcionUser img{
  
  padding-top: 3%;
  width: 24%;
  margin-left: 38%;
}

.opcionUser div{
  margin-left: 28%;
}

.opcionUser div a{
  margin: 4%;
}

.opcionUser a{

  
    display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: 'Arial', sans-serif;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  padding: 2.2% 10%;  
  border-radius: 10px; /* un poco m치s redondeado, mejora la percepci칩n */
  border: 2px solid black;
  box-sizing: border-box; /* evita que el borde cambie el tama침o */
  color: black;
  background-color: white;
 
}

/* Opcional: efecto hover simple sin transici칩n */
.btn:hover {
  opacity: 0.8;
}

