
<section>
<img src="img/logo.png" alt="logo">
<h1>Ingrese sus datos como jugador</h1>
<form action='@Url.Action("GuardarRegistroJugador","session")' method= "post"  enctype = "multipart/form-data">
<input type="text" name="Usuario" placeholder="Ingresar Username"/>
<input type="password" name="Password" placeholder="Ingresar Contraseña"/>
<input type="text" name="Nombre" placeholder="Ingresar Nombre"/>
<input type="text" name="Apellido" placeholder="Ingresar Apellido"/>
<input type="text" name="Deporte" placeholder="Ingresar Deporte"/>
<input type="text" name="Telefono" placeholder="Ingresar numero de telefono"/>
<input type= "date" name="fechaNacimiento" placeholder="Ingresar  fecha de nacimiento"/>
<input type="file" name="Foto" placeholder="Ingresar foto de perfil"/>
<input type="text" name="Ubicacion" placeholder="Ingresar ubicacion"/>
<input type="text" name="Genero" placeholder="Ingresar genero"/>
 <label>Deporte</label>
    <select name="idDeporte">
        <option value="1">Fútbol</option>
        <option value="2">Básquet</option>
        <option value="3">Vóley</option>
        <option value="4">Tenis</option>
        <option value="5">Hockey</option>
        <option value="6">Natación</option>
        <option value="7">Atletismo</option>
        <option value="8">Rugby</option>
        <option value="9">Handball</option>
        <option value="10">Gimnasia</option>
    </select>

    <input type="submit" value="Registrarse"/>

</section>